$gray-color: #5f6368;
$teal-color: #00796b;

.category-bar {
  display: flex;
  height: 40px;
  justify-content: space-around;
}

.category-icon {
  align-items: center;
  color: $gray-color;
  cursor: pointer;
  display: flex;
  flex: 1;
  justify-content: center;

  &.active {
    border-bottom: 2px solid;
    color: $teal-color;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 300px;
  user-select: none;
  width: 369px;
}

.emojis-pane {
  flex: 1;
  justify-content: space-around;
  overflow-y: auto;
}
